.txtcenters{
    text-align: center;
}
.container{
    display: flexbox;
    
    text-align: center;
    margin: auto;
     
}

.button{
    color: black;
    background-color: orange;
    width: 66px;
    padding: 20px;
    margin:0 2px;
    border-radius:10px ;
    border: 2px solid black;
    cursor:default;
}
.l{
    margin: 8px 0;
}
.input{
    margin: 0;
    padding: 6px 38px;
    border:2px solid black;
    border-radius:8px ;

}
.h{
    text-align: center;
}
.body{
    background-color: rgb(206, 91, 8);
}